
.alert[_ngcontent-c4] {
    z-index: 999;
    position: fixed;
    top: 14px;
    left: 25%;
    height: 35px;
    width: 50%;
    background: white;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;;
}